/* ==========================================================================
   # START CONTAINER
   ========================================================================== 
*/

.o-container {
  min-height: 100vh;
  padding-left: 280px;
  transition: all .2s ease;
}

.o-container__wrapper {
  max-width: 768px;
  margin: 0 auto;
}

/* ==========================================================================
   # END CONTAINER
   ========================================================================== 
*/
